#place the .env file into the "secret-config" subdirectory in the project directory 
#(so the path used in the .env file lookup works)
OPENAI_API_KEY="<YOUR OPENAI API KEY HERE>"
NOMINATIM_USER_AGENT_NAME = "<choose some descriptive name>"
